<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_infohealth_app_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoHealth"
        tools:targetApi="31">
        <activity
            android:name="com.tccnatan.infohealth.profile"
            android:exported="false" />
        <activity
            android:name="com.tccnatan.infohealth.formulario_inicial"
            android:exported="false"
            android:theme="@style/Theme.InfoHealth.NoActionBar" />
        <activity
            android:name="com.tccnatan.infohealth.Quiz"
            android:exported="false"
            android:theme="@style/Theme.InfoHealth.NoActionBar" />
        <activity
            android:name="com.tccnatan.infohealth.entrada"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InfoHealth.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tccnatan.infohealth.MainActivity"
            android:exported="false"
            android:stopWithTask="false" />
        <activity
            android:name="com.tccnatan.infohealth.login"
            android:exported="false"
            android:theme="@style/Theme.InfoHealth.NoActionBar" />

        <service
            android:name="com.tccnatan.infohealth.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.tccnatan.infohealth.MyForegroundService"
            android:stopWithTask="false" />
    </application>

</manifest>